<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>
  <div>
      <a class="navbar-brand" routerLink="login">Login</a>
      <a class="navbar-brand" routerLink="profile">Profile</a>
  </div>
</nav>
